<%- include('../partials/main'); -%>
  
<video autoplay muted loop id="myVideo">
  <source src="/vid.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

      <header class="viewport-header">
        <form action="/api/exercise/log" method="POST">
            <div class="form-group">
              <input placeholder = "username" name="username" type="text" class="form-control" >
                </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
            <h4 style = "color:white">New here? Get movin... <a href="/signup">sign up</a></h4>
          </form>
      </header>
     <div class = "taken">
         <%=message %>
     </div>