<%- include('../partials/main'); -%>
<div style="margin-left: -20px;  text-align: center; color:white; background-color: black;">
  <h2>freecodecamp - exercise tracker</h2></div>
<hr style="width:85%">
  <div style= "float:left; margin-right: 60px;">
    
        <h3>Create a New User </h3>
        <p style= "background-color: rgb(210, 230, 121);">POST /api/exercise/new-user</p>
        <form style="display: block; float:left;" action="/api/exercise/new-user" method="POST">
            <div class="form-group">
              <input name="username" placeholder = "username" type="text" class="form-control" aria-describedby="emailHelp">
               </div>
           
            <button type="submit" class="btn btn-dark">Register</button>
            
          </form>
  </div>
<div style="float:left; margin-right: 60px;">
<h3>Add exercises</h3>
<p style="background-color: rgb(210, 230, 121);">POST /api/exercise/add</p>
      <form   action="/api/exercise/add" method="POST">
        <div class="form-group">
          <input name="userID" required placeholder = "user id" type="text" class="form-control" >
           </div>
        <div class="form-group">
         <input name="description" required placeholder = "add description" type="text" class="form-control" >
          </div>
          <div class="form-group">
           <input name="duration"  placeholder = "add duration" type="text" class="form-control" >
            </div>
          <div class="form-group">
           <input name="date" placeholder = "yyyy-mm-dd" type="date" class="form-control">
            </div>
     <button type="submit" class="btn btn-dark">Add Exercise</button>
    </div>
   </form>

   <form action="/getid" method="POST">
    <div >
        <div class="form-group" >
      <label >enter username for id:</label>
      <input type="text" style ="width:30%" name="usid" class="form-control">
    </div>
    </div>
 
    <button id="submit"  type="submit" class="btn btn-light">Submit</button>
  </form>


   <div style="display:block; clear:left">
    <p>
      GET users's exercise log: <span style= "background-color: rgb(210, 230, 121);">GET /api/exercise/log?{userId}[&from][&to][&limit]
      </span></p>
<p>
{ } = required, [ ] = optional</p>

<p>from, to = dates (yyyy-mm-dd); limit = number </p>
</div>
